<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.cinema.mapper.CinemaMapper">
    <select id="cinemaList" resultType="map">
        SELECT
            IDX AS IDX
            , NAME AS NAME
            , CODE AS CODE
            , POST AS POST
            , ADDRESS AS ADDRESS
            , ADDRESSDETAIL AS ADDRESSDETAIL
            , STATE AS STATE
            , TEL AS TEL
            , SORT AS SORT
        FROM
            T_CINEMA
        WHERE
            1 = 1
            <if test="state != null and state != ''">
                AND STATE = #{state}
            </if>
        ORDER BY
            IDX DESC
    </select>

    <select id="cinemaDetail" resultType="map">
        SELECT
            IDX AS IDX
            , NAME AS NAME
            , CODE AS CODE
            , POST AS POST
            , ADDRESS AS ADDRESS
            , ADDRESSDETAIL AS ADDRESSDETAIL
            , STATE AS STATE
            , TEL AS TEL
        FROM
            T_CINEMA
        WHERE
            IDX = #{idx}
        ORDER BY
            IDX DESC
    </select>

    <update id="cinemaUpdate">
        UPDATE T_CINEMA SET
            <if test="state != null and state != ''">
                STATE = #{state}
            </if>
            <if test="name != null and name != ''">
                , NAME = #{name}
            </if>
            <if test="code != null and code != ''">
                , CODE = #{code}
            </if>
            <if test="post != null and post != ''">
                , POST = #{post}
            </if>
            <if test="address != null and address != ''">
                , ADDRESS = #{address}
            </if>
            <if test="addressDetail != null and addressDetail != ''">
                , ADDRESSDETAIL = #{addressDetail}
            </if>
            <if test="tel != null and tel != ''">
                , TEL = #{tel}
            </if>
        WHERE
            IDX = #{idx}
    </update>
</mapper>